body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
  background-color: #f0f8ff;
  color: #333;
}

header {
  background-color: #001f4d;
  color: white;
  padding: 1rem 1rem 0rem 1rem;
  text-align: center;
}

header p:last-child {
  margin-bottom: 0;
}

#today-date {
  font-size: 0.8rem;
  text-align: start;
}

nav {
  background: #4169e1;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

@media (min-width: 600px) { /* tablets portrait+ */ }

@media (min-width: 768px) { /* tablets landscape+ */ }

@media (min-width: 1024px) { /* small desktops */ }

@media (min-width: 1280px) { /* large desktops */ }

@media (min-width: 1600px) { /* ultra-wide, optional */ }